.item-detail-img{
    width: 70%;
}

.item-detail-price{
    text-align: center;
    margin-top: 40px;
    font-size: 1.5em;
    font-weight: bold;
}

.item-detail-title{
    text-align: center;
}

.view-cart{
    width: 50%;
}