header{
    top: 0;
    width: 100vw;
    background-color: white;
    box-shadow: 0 1px 6px 1px rgba(0,0,0,.2);
    max-width: 100%;
}

.logo-header{
    justify-content: center;
    display: flex;
}

.logo-header > img, h6{
    margin: auto;
}

.logo{
    margin-left: 100px;
}

img, svg {
    vertical-align: text-bottom;
}

@media (max-width: 750px) {
    header {
    flex-wrap: wrap;
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    background-color: white;
    }

    .logo {
        position: relative;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 0;
        margin-left: 0;
    }
}
