.footer-box{
    padding: 40px 60px;
    background: black;
    bottom: 0;
    width: 100%;
}

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.footer-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-row{
    display: flex;
    justify-content: center;
}

.footer-link{
    color: #fff !important;
    margin-bottom: 10px;
    font-size: 15px;
    text-decoration: none;
}

.footer-link:hover{
    color: rgb(223, 54, 54) !important;
    transition: 200ms ease-in;
}

.footer-p{
    font-size: 17px;
    color: #fff;
    margin-bottom: 40px;
    font-weight: bold;
}

.footer-p-sm{
    font-size: 14px;
    color: #fff;
    margin-bottom: 40px;
    font-weight: bold;
}


@media (max-width: 1000px) {
    .footer-box{
        padding: 40px 10px;
    }
}